.city-list {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: center; /* Center items horizontally */
    margin: 100px;
}

.city-list-container {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: center; /* Center items horizontally */
}

.pagination {
    position: relative;
    margin: 30px;
    left: 50%;
    transform: translateX(-50%);
    zIndex: 1;
}