.city-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
}

.city-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    position: relative;
    margin: 30px;
    left: 50%;
    transform: translateX(-50%);
    zIndex: 1;
}